        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>home page</title>
        </head>
        <body>
             <h1> 
                welcome to my home page 1+3
             </h1>

             <h3><%=// "himanshu yadav".toUpperCase()
                  ["banana", "apple", "Qauva", "monkey"][4]
                  %></h3>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Ab architecto mollitia obcaecati consequatur placeat sapiente odit,
                 possimus quia cupiditate. Iure.</p>

                  <button>click me!</button>
        </body>
        </html>